<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Document 节点</h1>

    <h2>1. 概述</h2>
    <pre>
document节点对象代表整个文档，每张网页都有自己的document对象。window.document属性就指向这个对象。只要浏览器开始载入 HTML 文档，该对象就存在了，可以直接使用。

    document对象有不同的办法可以获取。

    正常的网页，直接使用document或window.document。
    iframe框架里面的网页，使用iframe节点的contentDocument属性。
    Ajax 操作返回的文档，使用XMLHttpRequest对象的responseXML属性。
    内部节点的ownerDocument属性。
    document对象继承了EventTarget接口、Node接口、ParentNode接口。这意味着，这些接口的方法都可以在document对象上调用。除此之外，document对象还有很多自己的属性和方法。</pre
    >

    <h2>2. 属性></h2>
    <h3>2.1 快捷方式属性</h3>
    <section>
      <p>(1) document.defaultView</p>
      <p>
        document.defaultView属性返回document对象所属的window对象。如果当前文档不属于window对象，该属性返回null
      </p>
      <code>document.defaultView === window // true</code>
      <script>
        console.log(document.defaultView === window);
      </script>

      <p>(2) document.doctype</p>
      <p>
        对于 HTML 文档来说，document对象一般有两个子节点。第一个子节点是document.doctype，指向&lt;DOCTYPE&gt;节点，即文档类型（Document Type Declaration，简写DTD）节点。HTML 的文档类型节点，一般写成&lt;!DOCTYPE html&gt;。如果网页没有声明 DTD，该属性返回null。
      </p>
      <code>document.firstChild通常就返回这个节点</code>
      <script>
        console.log(document.doctype, document.doctype.name); //<!doctype html>  "html"
        console.log(document.firstChild)
      </script>

      <div>
        <p>(3) document.documentElement</p>
      <p>
        document.documentElement属性返回当前文档的根元素节点（root）。
      </p>
      <code>HTML网页的该属性，一般是<html>节点</code>
      <script>
      </script>
      </div>

      <div>
        <p>(4) document.body，document.head</p>
      <p>
        document.body属性指向&lt;body&gt;节点，document.head属性指向&lt;head&gt;节点
      </p>
      <code>这两个属性总是存在的，如果网页源码里面省略了&lt;head&gt;或&lt;body&gt;，浏览器会自动创建。另外，这两个属性是可写的，如果改写它们的值，相当于移除所有子节点。</code>
      <script>
      </script>
      </div>

      <div>
        <p>(5) document.scrollingElement</p>
      <p>
        document.scrollingElement属性返回文档的滚动元素。也就是说，当文档整体滚动时，到底是哪个元素在滚动
      </p>
      <!-- <code>document.documentElement（即<html>）。兼容（quirk）模式下，返回的是<body>元素，如果该元素不存在，返回null</code> -->
      <script>
        console.log(document.scrollingElement.scrollTop) // 0
      </script>
      </div>

       <div>
        <p>(6) document.activeElement</p>
      <p>

      </p>
      <code></code>
      <script>

      </script>
      </div>

      <div>
        <p>(7) document.fullscreenElement</p>
      <p>
        <!-- document.activeElement属性返回获得当前焦点（focus）的 DOM 元素。通常，这个属性返回的是<input>、<textarea>、<select>等表单元素，如果当前没有焦点元素，返回&lt;body&gt;元素或null。 -->
      </p>
      <code></code>
      <script>

      </script>
      </div>
    </section>

    <h2>节点集合属性</h2>
    <p>1 document.links 2 document.forms 3 document.images 4 document.embeds，document.plugins 5 document.scripts 6 document.styleSheets</p>

    <form name="myForm"></form>
    <script>
      console.log(document.myForm === document.forms.myForm) // true
      console.log('hello')
    </script>

    <script>
      document.write('hello')
      console.log(document.elementFromPoint(50, 50))
    </script>

    <article
      id="foo"
      data-columns="3"
      data-index-number="12314"
      data-parent="cars">
      ...
    </article>
  </body>
</html>
