<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>BFC</title>
  </head>
  <body>
    <p>float的值不为none。</p>
    <p>overflow的值为auto,scroll或hidden。</p>
    <p>display的值为table-cell, table-caption, inline-block中的任何一个。</p>
    <p>position的值不为relative和static。</p>

    <style>
      .float-left {
        float: left;
        margin: 0 10px 0 0;
      }
      .follow-content {
        /* width: 130px; */
        overflow: hidden;
        /* display: inline-block; */
        /* display: table-cell;
        width: 2200; */

        background-color: rgb(48, 133, 230);
      }
    </style>
    <div class="wrap">
      <div class="float-left">浮动元素的margin-right或者padding-right轻松实现间距效果。间距是20像素</div>
      <div class="follow-content">margin-left 值太小没有用</div>
      <div>hello we can do it</div>
    </div>
  </body>
</html>
